body {
    margin: 0px;
}

.header-bar-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 150px;
    width: 100%;
    

}
.left-column {
    /* width: 950px; */
    /* height: 150px; */
    display: flex;
    align-items: center;
    justify-content: left;
}



.left-column img {
    width: 220px;
    margin-left: 20px;
}

.nav-bar {
    margin-left: 50px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link-container > .nav-link {
    padding-right: 15px;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Suez One', serif;
    line-height: 1.1;
    font-size: 1.8rem;
}

.nav-link-container {
display: flex;
align-items: center;
}

.nav-header {
    margin-bottom: 5px;
    color: goldenrod;
    font-size: 1.25rem;
    font-family: 'Telefon Black', sans-serif;
}

.spark-container {
    margin-left: 45px;
    margin-top: 30px;
    color: rgb(146, 146, 146);
    font-size: 1.5rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-column {
    /* height: 150px; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.create-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 82, 82);
    border-radius: 3px;
    height: 100px;
    width: 200px;
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
    margin-right: 30px;
}

.right-column > .create-btn i {
    color: rgb(47, 255, 127);
    font-size: 2.1rem;
} 

.right-column > .glass{
    font-size:3.5rem;
    color: darkgray;
    margin-right: 30px;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 82, 82);
    border-radius: 3px;
    height: 100px;
    width: 170px;
    font-size: 1.9rem;
    font-family: sans-serif;
    color: white;
    margin-right: 30px;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 82, 82);
    border-radius: 3px;
    height: 100px;
    width: 170px;
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
    margin-right: 30px;
}

.page-content {
    width: 100%;
    height:650px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 1px -14px 50px 40px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;


}
.page-text {
    text-align: left;
    margin-left: 70px;
    margin-right: 200px;
}
.page-text p{
    color: lightgray;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    margin-right: 200px;
}

.page-text p1{
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 35px;

}

.sign-up-btns {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 70px;
}

.signupfree {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 216, 105);
    border-radius: 3px;
    height: 100px;
    width: 300px;
    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 6rem;
    color: rgb(0, 0, 0);
    margin-right: 30px;
}

.learnmore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    height: 100px;
    width: 300px;
    font-size: 2.6rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 30px;
}

.img-n-text p {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.img-n-text p1 {
    color: rgb(137, 207, 250);
}

.img-n-text img {
    height: 550px;
    border-radius: 2%;
    margin-bottom: -2px;
    box-shadow: -5px -2px 22px 3px rgba(0,0,0,0.77);
}

.footer-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.teams {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(155, 155, 155);
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.teams p1 {
    font-size: 1.8rem;
    font-family: 'Hammersmith One', sans-serif;
}


.education {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(155, 155, 155);;
}

.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(155, 155, 155);
}

.writing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(155, 155, 155);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 100%;
    background-color: black;
}